<table align="center" cellpadding="0" cellspacing="0" border=0 width=779>
  <tr>
    <td colspan=5 height="141">
      <embed height="141" width="779" src="/assets/banner.swf" quality="high" bgcolor="#FFFFFF" name="AdTopBanner" type="application/x-shockwave-flash" pluginspage="http : //www.macromedia.com/go/getflashplayer"/></td>
  </tr>
  <tr>
    <td>
      <a href="/index"><img src="/assets/trangchu.jpg"/></a></td>
    <td>
      <a href="/sanpham"><img src="/assets/sanpham.jpg"/></a></td>
    <td><a href="/congdung.html">
        <img src="/assets/congdung.jpg"/></a></td>
    <td>
      <a href="/ykienchuyengia"><img src="/assets/ykienchuyengia.jpg"/></a></td>
    <td>
      <a href="/lienhe"><img src="/assets/lienhe.jpg"/></a></td>
  </tr>
  <!-- contain -->
  <tr>
    <td background="/assets/bg_table.jpg" colspan="5">
      <table>
        <tr>
          <!-- left contain -->
          <td align="left" valign="top">
            <table cellpadding=0 cellspacing=0>
              <tr>
                <td>
                  <a href="/lua"><img src="/assets/lua.jpg"/></a></td>
              </tr>
              <tr>
                <td>
                  <a href="/raucu"><img src="/assets/raucu.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/hoakieng">
                    <img src="/assets/hoakieng.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/antrai">
                    <img src="/assets/antrai.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/raumau">
                    <img src="/assets/raumau.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/nganngay">
                    <img src="/assets/nganngay.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/congnghiep">
                    <img src="/assets/congnghiep.jpg"/></a>
                </td>
              </tr>
              <tr>
                <td><a href="/sanphammoi">
                  <img src="/assets/sanphammoi.gif"/></a>
                  <br/><br/><br/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="/assets/traicay1.jpg"/><br/><br/><br/>
                </td>
              </tr>
        </tr>
        <tr>
          <td align="center">
            <img src="/assets/6_14_63.jpg"/><br/><br/><br/>
          </td>
        </tr>
  </tr>
  <tr>
    <td align="center">
      <img src="/assets/antrai2.jpg"/><br/><br/><br/>
    </td>
  </tr>
</tr>
<tr>
  <td align="center">
    <img src="/assets/xoai.jpg"/><br/><br/><br/>
  </td>
</tr>
</table>
</td>
<!-- right contain -->
<td valign="top">
  <table width="532">
    <tr>
      <td style="padding-top : 30px;padding-right : 25px;padding-left : 25px;">
        <p class="MsoNormal" align="center" style="text-align :  center; line-height : 150%">
          <span style="font-size : 16.0pt;font-family : Arial;
                color : red;font-weight : normal">Hướng dẫn sử dụng cho cây ăn trái</span></p>
        <p class="MsoNormal" align="center" style="text-align :  left; line-height : 150%">
          <font face="Arial" style="font-size :  9pt"><img src="/assets/congdung_sys.jpg"/> Thời kỳ 
          </font><font face="Arial"><span style="font-size :  9pt" lang="FR">cây mới trồng</span></font><span style="font-size :  9pt; font-family :  Arial; color :  black; font-weight :  normal"> 
            sử dụng kết hợp </span><font face="Arial" style="font-size :  9pt">
          <font color="#FF0000"><b>Super Hume</b></font> <font color="#FF0000">+</font> 
          </font><font color="#FF0000"><b>
            <span style="font-size :  9pt; font-family :  Arial">Fish Emulsion</span></b></font><span style="font-size :  9pt; font-family :  Arial; color :  black; font-weight :  normal">.
          </span>
          <font face="Arial" style="font-size :  9pt">Tỷ lệ pha 20-30 ml/8 lít nước. Chu kỳ phun 
          30 ngày/ lần. Giúp </font>
          <span lang="FR" style="font-size :  9pt; font-family :  Arial">làm 
            đất tơi xốp, cây bám rể nhanh</span><font face="Arial" style="font-size :  9pt">.
          </font></p>
        <p class="MsoNormal" align="center" style="text-align :  left; line-height : 150%">
          <font face="Arial" style="font-size :  9pt"><img src="/assets/congdung_sys.jpg"/>  
          </font><span style="font-family :  Arial" lang="fr"><font style="font-size :  9pt">Thời kỳ </font> </span>
          <font face="Arial"><span style="font-size :  9pt" lang="FR">cây đang phát triển</span></font><span style="font-size :  9pt"><span style="font-family : Arial;color : black;font-weight : normal"> 
              sử dụng kết hợp </span>
            <span style="font-family :  Arial; color :  #FF0000; font-weight :  700">
              Super Hume</span></span><span style="font-size: 9pt">, t</span><font face="Arial" style="font-size :  9pt">ỷ lệ pha 10-20 ml/8 lít nước. Chu kỳ phun 15-20 ngày/ lần </font><span style="font-size :  9pt"><span style="font-family :  Arial; color :  #FF0000; font-weight :  normal"> 
              &nbsp;</span><span style="font-family :  Arial; color :  #FF0000; font-weight :  700">+
              Super 10-8-8</span>, t</span><font face="Arial" style="font-size :  9pt">ỷ lệ pha 
          20-30 ml/8 lít nước. Chu kỳ phun 30 ngày/ lần. Giúp </font>
          <span lang="FR" style="font-size :  9pt; font-family :  Arial">cây phát 
            triển nhanh, khỏe, chống lại hiện tượng sâu, bệnh hại.</span></p>
        <p class="MsoNormal" align="center" style="text-align :  left; line-height : 150%">
          <font face="Arial" style="font-size :  9pt"><img src="/assets/congdung_sys.jpg"/>  
          </font><font face="Arial"></font><span style="font-size :  9pt">
            <font face="Arial">Thời kỳ<font color="#FF0000">
            </font><span lang="FR">xử lý ra hoa, đậu trái sử </span>
            </font>
            <span style="font-family : Arial;color : black;font-weight : normal">
              dụng kết hợp </span>
            <font face="Arial">
            <b><font color="#FF0000">Bloom &amp; Fruit (6-19-0)</font></b><font color="#FF0000"> +</font><b><font color="#FF0000"> Super 6-14-6</font></b></font></span><span style="font-size :  9pt; font-family :  Arial; color :  black; font-weight :  normal">,
          </span><font face="Arial" style="font-size: 9pt">t</font><font face="Arial" style="font-size :  9pt">ỷ lệ pha 
          20-30 ml/8 lít nước. Phun cho đến khi trổ bông. Giúp </font>
          <font face="Arial"><span style="font-size :  9pt" lang="FR">Ra hoa đồng loạt, sớm hơn</span></font><font face="Arial" style="font-size :  9pt">.
          </font>
        </p>
        <p align="justify" style="line-height :  150%">
          <font face="Arial" style="font-size :  9pt"><img src="/assets/congdung_sys.jpg"/> 
          Thời kỳ 
          </font>
          <font face="Arial"><span style="font-size :  9pt" lang="FR">dưỡng bông, trái non sử 
          </span></font><span style="font-size :  9pt">
            <span style="font-family : Arial;color : black;font-weight : normal">
              dụng kết hợp </span>
            <font face="Arial">
            <b><font color="#FF0000">Micro Boost</font> <font color="#FF0000">-</font> <font color="#FF0000">Super 
              6-14-6</font></b></font></span><span style="font-size :  9pt; font-family :  Arial; color :  black; font-weight :  normal"> 
            .
          </span><font face="Arial" style="font-size :  9pt">Tỷ lệ pha </font>
          <span lang="FR" style="font-size :  9pt; font-family :  Arial">20-30</span><font face="Arial" style="font-size :  9pt"> ml/8 lít nước. Chu kỳ phun 
          30 ngày/ lần. 
          Giúp </font>
          <font face="Arial"><span style="font-size :  9pt" lang="FR">bông dài, mập chống rụng trái non.</span></font><p align="justify" style="line-height :  150%">
          <font face="Arial" style="font-size :  9pt"><img src="/assets/congdung_sys.jpg"/> 
          Thời kỳ 
          </font>
          <span lang="FR" style="font-size :  9pt; font-family :  Arial">nuôi 
            trái lớn</span><font face="Arial"><span style="font-size :  9pt" lang="FR"> sử 
          </span></font><span style="font-size :  9pt">
            <span style="font-family : Arial;color : black;font-weight : normal">
              dụng kết hợp </span>
            <font face="Arial">
            <b><font color="#FF0000">Super 3-18-18</font></b></font></span><font face="Arial" style="font-size: 9pt">,
          </font><font face="Arial" style="font-size :  9pt">tỷ lệ pha </font>
          <span lang="FR" style="font-size :  9pt; font-family :  Arial">20-30</span><font face="Arial" style="font-size :  9pt"> ml/8 lít nước</font><span style="font-size :  9pt"><font face="Arial"><font color="#FF0000"><b> + Super Cal
            </b> <span lang="fr">-</span></font><span lang="FR"><b> <font color="#FF0000">
                Fish Emulsion </font></b>.<font color="#FF0000"><b> </b> </font></span></font></span><font face="Arial" style="font-size :  9pt">Tỷ lệ pha </font>
          <span lang="FR" style="font-size :  9pt; font-family :  Arial">20-25</span><font face="Arial" style="font-size :  9pt"> ml/8 lít nước</font><span style="font-size :  9pt; font-family :  Arial; color :  black; font-weight :  normal">.
          </span><font face="Arial" style="font-size :  9pt"> Chu kỳ phun 30 ngày/lần. Chú 
          ý </font>
          <span lang="FR" style="font-size :  9pt; font-family :  Arial">ngưng 
            phun trước thu hoạch 7-10 ngày</span><font face="Arial" style="font-size :  9pt">. 
          Giúp </font>
          <span lang="FR" style="font-size :  9pt; font-family :  Arial">trái lớn 
            nhanh, bóng, đẹp, đặc trái, thơm ngọt, chông thối trái, trái bảo quản được lâu 
            hơn</span><font face="Arial" style="font-size :  10pt">.
          </font>
        <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/antrai_bg.png" width="484" height="369"/></p>
      </td>
    </tr>
  </table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
  <td colspan="5">
    <img src="/assets/thanhngangduoi.jpg"/></td>
</tr>
</table>
