<table align="center" cellpadding="0" cellspacing="0" width=779>
  <tr>
    <td colspan="5">
      <embed height="141" width="779" src="/assets/banner.swf" quality="high" bgcolor="#FFFFFF" name="AdTopBanner" type="application/x-shockwave-flash" pluginspage="http : //www.macromedia.com/go/getflashplayer" wmode="transparent" allowscriptaccess="always"/></td>
  </tr>
  <tr>
    <td colspan=5>
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <a href="/index" class="button" style="width: 120px">Trang Chủ</a>
          </td>
          <td>
            <a href="/hopquy" class="button active" style="width: 120px">Hợp Quy</a>
          </td>
          <td>
            <a href="/sanpham" class="button" style="width: 120px">Sản Phẩm</a>
          </td>
          <td>
            <a href="/congdung" class="button" style="width: 120px">Công Dụng</a>
          </td>
          <td>
            <a href="/ykienchuyengia" class="button" style="width: 179px"> Ý Kiến Chuyên Gia</a>
          </td>
          <td>
            <a href="/lienhe" class="button" style="width: 120px"> Liên Hệ</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- contain -->
  <tr>
    <td background="/assets/bg_table.jpg" colspan="5">
      <table>
        <tr>
          <!-- left contain -->
          <td align="left" style="vertical-align : top;width: 27%">
            <table cellpadding=0 cellspacing=0>
              <tr>
                <td>
                  <a href="/superhume"><img src="/assets/sp1.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/superfish">
                  <img src="/assets/sp2.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/supercal">
                  <img src="/assets/sp3.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/MicroBoost">
                  <img src="/assets/sp4.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/super3_18_18">
                  <img src="/assets/sp5.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/super10_8_8">
                  <img src="/assets/sp6.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/super6_14_6">
                  <img src="/assets/sp7.jpg"/></a></td>
              </tr>
              <tr>
                <td><a href="/npk6_19_0">
                  <img src="/assets/sp8.jpg"/></a>
                </td>
              </tr>
              <tr>
                <td><a href="/sanphammoi">
                  <img src="/assets/sanphammoi.gif"/></a>
                  <br/><br/><br/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="/assets/spm2.jpg" style="width: 137px;height: 146px;"/><br/><br/><br/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="/assets/spm1.jpg" style="width: 137px;height: 146px;"/><br/><br/><br/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="/assets/3_18_183.jpg"/><br/>&nbsp;</td>
              </tr>
              </tr>
            </table>
          </td>
          <!-- right contain -->
          <td valign="top" style="width: 60%">
            <table cellpadding=0 cellspacing=0>
              <tr>
                <td width="519" style="padding-left : 8px;padding-right : 30px;text-align : justify;font-size :  9pt; font-family :  Arial;line-height :  170%">
                  Thương hiệu <b><font color="#FF0000">CROPMASTER</font></b> được nhập khẩu từ Mỹ và được phép lưu hành theo Giấy Chứng Nhận Hợp Quy.
                  <br/>
                  &nbsp;&nbsp;+ Đối với Phân bón lá Hữu Cơ gồm 2 sản phẩm Super Hume và Fish Emulsion, do TT3 cấp Giấy Hợp Quy và Giấy Tiếp nhận của Sở Nông Nghiệp TP.HCM
                  <br/>
                  <br/>
                </td>
              </tr>
              <tr>
                <td align="center" style="font-size :  9pt; font-family :  Arial;line-height :  170%">
                  <iframe src="http://www.phuhao.com/assets/pdf/hopquy-hume-fish.pdf" style="width:519px; height:500px;" frameborder="0"></iframe>                  
                    (Hợp quy Hume & Fish) <br/><br/>
                </td>
              </tr>
              <tr>
                <td align="center" style="font-size :  9pt; font-family :  Arial;line-height :  170%">
                  <object data="http://www.phuhao.com/assets/pdf/tiepnhansnn.pdf" type="application/pdf" width="519" height="500">
                    <embed src="http://www.phuhao.com/assets/pdf/tiepnhansnn.pdf">
                        This browser does not support PDFs. Please download the PDF to view it: <a href="http://www.phuhao.com/assets/pdf/tiepnhansnn.pdf">Download PDF</a>.</p>
                    </embed>
                  </object>
                    (Tiếp nhận Sở Nông Nghiệp) <br/><br/>
                </td>
              </tr>
              <tr>
                <td width="519" style="padding-left : 8px;padding-right : 30px;text-align : justify;font-size :  9pt; font-family :  Arial;line-height :  170%">
                  <br/>
                  <br/>
                  &nbsp;&nbsp;+ Đối với Phân bón vô cơ gồm 8 sản phẩm Super Ca, Micro Boost, Super NPK 3-18-18, Super NPK 6-14-6, Super NPK 10-8-8, Bloom & Fruit, ReoX 7-21-0 và ReoX 0-27-20. Do Trung tâm IQC cấp Giấy Hợp Quy và Giấy tiếp nhận của Sở Công Thương TP.HCM
                  <br/>
                  <br/>
                </td>
              </tr>
              <tr>
                <td align="center" style="font-size :  9pt; font-family :  Arial;line-height :  170%">
                    <object data="http://www.phuhao.com/assets/pdf/10-8-8.pdf" type="application/pdf" width="519" height="500">
                      <embed src="http://www.phuhao.com/assets/pdf/10-8-8.pdf">
                          This browser does not support PDFs. Please download the PDF to view it: <a href="http://www.phuhao.com/assets/pdf/10-8-8.pdf">Download PDF</a>.</p>
                      </embed>
                    </object>
                    (Hợp quy 10-8-8) <br/><br/>
                </td>
              </tr>
              <tr>
                <td align="center" style="font-size :  9pt; font-family :  Arial;line-height :  170%">
                    <object data="http://www.phuhao.com/assets/pdf/3-18-18.pdf" type="application/pdf" width="519" height="500">
                      <embed src="http://www.phuhao.com/assets/pdf/3-18-18.pdf">
                          This browser does not support PDFs. Please download the PDF to view it: <a href="http://www.phuhao.com/assets/pdf/3-18-18.pdf">Download PDF</a>.</p>
                      </embed>
                    </object>
                    (Hợp quy 3-18-18) <br/><br/>
                </td>
              </tr>
              <tr>
                <td align="center" style="font-size :  9pt; font-family :  Arial;line-height :  170%">
                    <object data="http://www.phuhao.com/assets/pdf/sct-1088.pdf" type="application/pdf" width="519" height="500">
                      <embed src="http://www.phuhao.com/assets/pdf/sct-1088.pdf">
                          This browser does not support PDFs. Please download the PDF to view it: <a href="http://www.phuhao.com/assets/pdf/sct-1088.pdf">Download PDF</a>.</p>
                      </embed>
                    </object>
                    (Tiếp nhận SCT 1088) <br/><br/>
                </td>
              </tr>
              <tr>
                <td align="center" style="font-size :  9pt; font-family :  Arial;line-height :  170%">
                    <object data="http://www.phuhao.com/assets/pdf/sct-boost.pdf" type="application/pdf" width="519" height="500">
                      <embed src="http://www.phuhao.com/assets/pdf/sct-boost.pdf">
                          This browser does not support PDFs. Please download the PDF to view it: <a href="http://www.phuhao.com/assets/pdf/sct-boost.pdf">Download PDF</a>.</p>
                      </embed>
                    </object>
                    (SCT Boost) <br/><br/>
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
      <table style="width: 100%">
        <tr>
          <td style="padding-left : 30px">
            <img src="/assets/hume4.jpg"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/assets/hinhchitiet1.jpg"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/assets/traicay3.jpg"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/assets/10_8_8_4.jpg"/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="5">
      <img src="/assets/thanhngangduoi.jpg"/>
    </td>
  </tr>
</table>
