<!-- right contain -->
<td valign="top">
<table cellpadding=0 cellspacing=0>
<tr>
<td style="padding-left : 30px;">	<br/>
&nbsp;<p class="MsoNormal">
<img src="/assets/hand.png"/><span style="font-family :  Arial; font-weight :  normal; font-size: 10pt">&nbsp;&nbsp;</span><span style="font-family :  Arial; color :  red">Liên 
hệ về kinh doanh</span><span style="font-family :  Arial; font-weight :  normal">
</span></p>
<p class="MsoNormal" style="text-indent :  -9.0pt; margin-left :  9.0pt">
<span style="font-family :  Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -<span style="color : red">
</span></span>
<span style="font-family :  Arial; font-weight :  normal; font-size: 10pt">
Mọi nhu cầu vui lòng liên hệ phòng kinh doanh Công ty TNHH 
TM và DL Phú Hảo </span></p>
<p class="MsoNormal" style="text-indent :  -9.0pt; margin-left :  9.0pt">
<span style="font-family :  Arial; font-weight :  normal; font-size: 10pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 
Địa chỉ  :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
9C0 Điện Biên Phủ (D1) - F.25 - Q. Bình Thạnh – TP. HCM
</span></p>
<p class="MsoNormal">
<span style="font-family :  Arial; font-weight :  normal; font-size: 10pt">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
-&nbsp;Điện Thoại  :  08.2220.1717</span></p>
<p class="MsoNormal">
<span style="font-family :  Arial; font-weight :  normal; font-size: 10pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 
Fax  :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.2220.1616</span></p>
<p class="MsoNormal" style="text-indent :  -9.0pt; margin-left :  9.0pt">
<span style="font-family :  Arial; font-weight :  normal; font-size: 10pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tại 
các tỉnh :&nbsp; Đại lý cấp 1, 2 - CH cung cấp vật tư nông nghiệp tại các tỉnh.</span></p>
<p class="MsoNormal">
<img src="/assets/hand.png"/><span style="font-family :  Arial; color :  red; font-size: 10pt">&nbsp;&nbsp;Liên 
hệ về kỹ thuật : </span></p>
<p class="MsoNormal"><span style="font-family :  Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
</span><span style="font-family :  Arial; font-weight :  normal; font-size: 10pt">
Kỹ sư :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nguyễn Thượng Chi </span></p>
<p class="MsoNormal">
<span style="font-family :  Arial; font-weight :  normal; font-size: 10pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 
Điện thoại :  090.392.0712. </span></p>
<p class="MsoNormal">
<span style="font-family :  Arial; font-weight :  normal; font-size: 10pt">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Hoặc bộ phận kỹ thuật công ty. Điện thoại :  08.2220.1717</span>
</p>
<p class="MsoNormal">
<span style="font-family :  Arial; font-weight :  normal; font-size: 10pt">
&nbsp; </span></p>
<p>&nbsp;</p>
</td>
</tr>
</table>
</td>
