<html>
<head>
	<meta http-equiv="Content-Language" content="en-us">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Phu Hao</title>
<style>
img  {
border : none;
}

a :  hover {
color : #000000}

a :  visited {
border  : none;
}
</style>
<script>
function change_image(id,id_new) {
document.getElementById(id).style.display="none";
document.getElementById(id_new).style.display="block";
}
</script>
</head>
<body background="/assets/background.jpg">
<table align="center" cellpadding="0" cellspacing="0" border=0 width=779>
<tr>
<td colspan=5 height="141">
<embed height="141" width="779" src="/assets/banner.swf" quality="high" bgcolor="#FFFFFF" name="AdTopBanner" type="application/x-shockwave-flash" pluginspage="http : //www.macromedia.com/go/getflashplayer"/></td>
</tr>
<tr>
<td>
<a href="/index"><img src="/assets/trangchu.jpg"/></a></td>
<td>
<a href="/sanpham"><img src="/assets/sanpham.jpg"/></a></td>
<td><a href="/congdung">
<img src="/assets/congdung.jpg"/></a></td>
<td>
<a href="/ykienchuyengia"><img src="/assets/ykienchuyengia.jpg"/></a></td>
<td>
<a href="/lienhe"><img src="/assets/lienhe.jpg"/></a></td>
</tr>
<!-- contain -->
<tr>
<td background="/assets/bg_table.jpg" colspan="5">
<table>
<tr>
<!-- left contain -->
<td align="left" valign="top">
<table cellpadding=0 cellspacing=0>
<tr>
<td>
<a href="/lua"><img src="/assets/lua.jpg"/></a></td>
</tr>
<tr>
<td>
<a href="/raucu"><img src="/assets/raucu.jpg"/></a></td>
</tr>
<tr>
<td><a href="/hoakieng">
<img src="/assets/hoakieng.jpg"/></a></td>
</tr>
<tr>
<td><a href="/antrai">
<img src="/assets/antrai.jpg"/></a></td>
</tr>
<tr>
<td><a href="/raumau">
<img src="/assets/raumau.jpg"/></a></td>
</tr>
<tr>
<td><a href="/nganngay">
<img src="/assets/nganngay.jpg"/></a></td>
</tr>
<tr>
<td><a href="/congnghiep">
<img src="/assets/congnghiep.jpg"/></a><br/><br/><br/>
</td>
</tr>
<tr>
<td align="center">
<img src="/assets/hume1.jpg"/><br/><br/><br/>
</td>
</tr>
</tr>
<tr>
<td align="center">
<img src="/assets/3_18_182.jpg"/><br/><br/><br/>
</td>
</tr>
</tr>
<tr>
<td align="center">
<img src="/assets/hume2.jpg"/></td>
</tr>
</tr>
<tr>
<td align="center">&nbsp;
</td>
</tr>
</table>
</td>
<!-- right contain -->
<td valign="top">
<table>
<tr>
<td style="padding-top : 30px;padding-left : 35px;padding-right : 35px;">
<p class="MsoNormal" align="center" style="text-align :  center">&nbsp;
</p>
<p class="MsoNormal" align="center" style="text-align :  center">
<span style="font-size : 16.0pt;font-family : &quot;Times New Roman&quot;;
color : red;font-weight : normal">Hướng dẫn sử dụng cho cây lúa</span></p>
<p class="MsoNormal" style="text-indent :  -.25in; line-height : 150%" align="left">
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<font face="Arial" style="font-size :  9pt">
</span><img src="/assets/congdung_sys.jpg"/> </font>
<span style="font-family : &quot;Arial&quot;;color : black;font-weight : normal">
<span style="font-size :  9pt">Sau sạ, cấy 15-20 ngày sử dụng kết hợp </span>
<font color="#FF0000">
<span style="font-size: 9pt; font-family: Arial; font-weight: 700">Super Hume + Super 10-8-8</span></font><span style="font-size: 9pt">. Tỉ lệ pha 
10-&nbsp;&nbsp;&nbsp; 20ml/8 lít nước. Chu kỳ phun 15-20 ngày/lần. Giúp cho bộ rễ phát triển mạnh, 
cây lúa khoẻ, đẻ nhiều nhánh.</span></span></p>
<p class="MsoNormal" style="text-indent :  -.25in; line-height : 150%" align="left">
<font face="Arial" style="font-size :  9pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>&nbsp;&nbsp; <img src="/assets/congdung_sys.jpg"/> </font>
<span style="font-family : &quot;Arial&quot;;color : black;font-weight : normal">
<span style="font-size :  9pt">Dưỡng đòng (Làm đòng) :  Sử dụng kết hợp </span>
<font color="#FF0000">
<span style="font-size: 9pt; font-family: Arial; font-weight: 700">Bloom &amp; Fruit (6-19-0) + Super 6-14-6</span></font><span style="font-size: 9pt">. Tỉ 
lệ pha 10-20ml/8 lít nước. Chu kỳ phun 7-10 ngày/lần. Giúp cây rổ bông đều, bông 
dài, tăng đậu trái, chống rụng trái non.</span></span></p>
<p class="MsoNormal" style="text-indent :  -.25in; line-height : 150%" align="left">
<font face="Arial" style="font-size :  9pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>&nbsp;&nbsp; <img src="/assets/congdung_sys.jpg"/> </font>
<span style="font-size :  9pt; font-family :  Arial; color :  black; font-weight :  normal">Dưỡng hạt  :  Sử dụng </span>
<font color="#FF0000">
<span style="font-size :  9pt; font-family :  Arial; font-weight :  700">Micro Boost 
- Super 3-18-18</span></font><span style="font-size :  9pt; font-family :  Arial; color :  black; font-weight :  normal"> 
(sử dụng riêng). Tỉ lệ pha 10-20 
ml/8lít&nbsp; nước. Chu kỳ phun 15-20 ngày/lần. Giúp hạt lớn nhanh, chắc hạt, không 
bạc bụng, thơm dẻo.</span></p>
<p class="MsoNormal" style="text-indent :  -.25in; line-height : 150%" align="left">&nbsp;
</p>
<p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/lua.gif"/></p>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="5">
<img src="/assets/thanhngangduoi.jpg"/></td>
</tr>
</table>
</body>
</html>