<!-- right contain -->
<td valign="top">
  <table cellpadding=0 cellspacing=0>
    <tr>
      <td align="center" style="padding-top : 20px;padding-left : 60px;padding-bottom : 20px;">
        <img src="/assets/6.jpg"/>
      </td>
      <td style="padding-top : 20px;padding-left : 60px;padding-bottom : 20px;"><img src="/assets/1.jpg"/>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding-left : 60px;padding-bottom : 20px;">
        <img src="/assets/8.jpg"/></td>
      <td style="padding-left : 60px;padding-bottom : 20px;"><img src="/assets/2.jpg"/>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding-left : 60px;padding-bottom : 20px;">
        <img src="/assets/4.jpg"/></td>
      <td style="padding-left : 60px;padding-bottom : 20px;">
        <img src="/assets/5.jpg"/></td>
    </tr>
    <tr>
      <td align="center" style="padding-left : 60px;padding-bottom : 20px;">
        <img src="/assets/7.jpg"/></td>
      <td style="padding-left : 60px;padding-bottom : 20px;">
        <img src="/assets/3.jpg"/></td>
    </tr>
    <tr>
      <td colspan=2 style="font-weight : bold;padding-left : 150px;color : red;">
        Có 3 loại thể tích sản phẩm : <font color="#39B45A"><br/>
        </font><span style="font-weight :  400;color : #000000">- Loại 1000 ml (18 chai/ thùng)<br/>
          - Loại&nbsp;&nbsp; 500 ml (36 chai/ thùng)<br/>
          - Loại&nbsp;&nbsp; 250 ml (12 chai/ thùng)</span><br/>
      </td>
    </tr>

  </table>
</td>
