<!-- right contain -->
<td valign="top">
  <table cellpadding=0 cellspacing=0>
    <tr>
      <td align="center">
        <img src="/assets/logo_bloom.jpg"/>
      </td>
    </tr>
    <tr>
      <td align="center">
        <span style="font-weight :  700; font-size :  36px; color :  #FF0000">Super NPK 6-14-6</span>
      </td>
    </tr>
    <tr>
      <td align="center">
        <font style="color : red;font-weight : 700;">Chế phẩm dinh dưỡng, đậm đặc</font></td>
    </tr>
    <tr>
      <td width="600" style="text-align : justify;font-family :  Arial;font-size :  9pt; ">
        <p style="text-align :  left">
          <br/><b>
            <font color="#FF0000" size="2">Thành phần : </font></b><br/>


        <table border="0" width="100%" id="table1">
          <tr>
            <td width="151">
              <span style="font-size :  9pt">Total 
                Nitrogen (N)..................</span></td>
            <td width="67">
              <span style="font-size :  9pt">6.00%</span></td>
            <td width="60">
              <span style="font-size :  9pt">Boron.........</span></td>
            <td width="92">
              <span style="font-size :  9pt">0.3912 ppm</span></td>
            <td width="95">
              <span style="font-size :  9pt">Copper.............&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
              </span></td>
            <td><span style="font-size :  9pt">0.2126&nbsp;&nbsp; ppm</span></td>
          </tr>
          <tr>
            <td width="151">
              <span style="font-size :  9pt">Available 
                Phosphate (P<sub>2</sub>O).</span></td>
            <td width="67">
              <span style="font-size :  9pt">14.00%</span></td>
            <td width="60">
              <span style="font-size :  9pt">Iron.............</span></td>
            <td width="92">
              <span style="font-size :  9pt">11.3&nbsp;&nbsp;&nbsp;&nbsp; 
                ppm</span></td>
            <td width="101">
              <span style="font-size :  9pt">Manganese.....</span></td>
            <td><span style="font-size :  9pt">0.10666 ppm</span></td>
          </tr>
          <tr>
            <td width="151">
              <span style="font-size :  9pt">Soluble 
                Potasssium (K<sub>2</sub>O).</span></td>
            <td width="67">
              <span style="font-size :  9pt">6.00%</span></td>
            <td width="60">
              <span style="font-size :  9pt">Zinc............</span></td>
            <td width="92">
              <span style="font-size :  9pt">0.110&nbsp;&nbsp; 
                ppm</span></td>
            <td width="101">
              <span style="font-size :  9pt">Noly....................</span></td>
            <td>
              <p class="MsoNormal"><span style="font-size :  9pt">0.063&nbsp;&nbsp; ppm</span></td>
          </tr>
          <tr>
            <td width="151">
              <span style="font-size :  9pt">Chlorine 
                not more than........</span></td>
            <td width="67">
              <span style="font-size :  9pt">1.00%</span></td>
            <td width="60">
              <span style="font-size :  9pt">Cobalt........</span></td>
            <td width="92">
              <span style="font-size :  9pt">0.023&nbsp;&nbsp; 
                ppm</span></td>
            <td width="101">
              <span style="font-size :  9pt">Sulfor..................</span></td>
            <td><span style="font-size :  9pt">0.00379 ppm</span></td>
          </tr>
        </table>

        <div style="width : 500px;">
          <p><b><font color="#FF0000" size="2">Công dụng : </font></b><br/>  

            <b>SUPER 6-14-6 </b>là chế phẩm dinh dưỡng đậm đặc, giúp cây con khỏe mạnh, rễ 
            chồi phát triển tốt, giúp cây trổ bông sớm và đồng loạt, đồng thời trái non mau 
            lớn, chống rụng trái</p>
          <p><b><font color="#FF0000" size="2">Cách sử dụng : </font></b> <br/>
            <span style="font-size :  12.0pt; font-family :  Times New Roman">Dùng cho tất cả 
              các loại cây trồng.</span></p>
          <p class="MsoNormal" style="text-align : justify"><b>Cây trồng : </b></p>
          <p class="MsoNormal" style="text-align : justify">*<b> Bầu, bí, dưa, đậu, cà chua, ớt…</b></p>
          <p class="MsoNormal" style="text-align : justify">Cây con :  Phun 1 - 2 lần sau khi 
            trồng 20 -25
            <sup>cc</sup>/ 8 lít.</p>
          <p class="MsoNormal" style="text-align : justify">Trước khi ra hoa :  phun 20 -25
            <sup>cc</sup>/ 8 lít. Phun 1 lần.</p>
          <p class="MsoNormal" style="text-align : justify"><span lang="FR">Cây có trái non :  
              phun 20 -25 <sup>cc</sup>/ 8 lít. Phun 3 lần cách nhau 1 tuần.</span></p>
          <p class="MsoNormal" style="text-align : justify"><span lang="FR">Cây ăn trái&nbsp; :  
              Phun 50<sup>cc</sup>/ 8 lít để kích thích ra bông.</span></p>
          <p class="MsoNormal" style="text-align : justify"><span lang="FR">&nbsp;Sau đó 
              phun 20 -25 <sup>cc</sup>/ 8 lít. Định kỳ 2-3 lần trên tuần để trái mau lớn.</span></p>
          <p class="MsoNormal" style="text-align : justify"><span lang="FR">*<b> Lúa&nbsp; :  </b>
              Phun vào giai đoạn làm đồng và ngậm sữa. Liều lượng 20-25<sup>cc</sup>/8 lít</span></p>
          <p class="MsoNormal" style="text-align : justify"><span lang="FR">Để đạt hiệu quả 
              cao nhất khi phun kết hợp thêm <b>Bloom &amp; Fruit 6-19-0</b></span></p>
          <p class="MsoNormal" style="text-align : justify"><b>
              <font color="#FF0000" size="2">Chú ý : </font></b> Lắc đều trước khi sử dụng, phun 
            lúc sáng sớm hoặc chiều mát, bảo quản nơi thoáng mát, để xa tầm tay trẻ em.<br/><br/></p></div>
      </td>
    </tr>
  </table>
</td>
</tr>
</table>
<table>
  <tr>
    <td style="padding-left : 30px">
      <img src="/assets/6_14_64.jpg"/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/3_18_184.jpg"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/Micro-Boost3.jpg"/>
      &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/Micro-Boost4.jpg"/>
    </td>
  </tr>
</table>
</td>
</tr>
